body{
 background-color: white;
}
@media (max-width: 4000px){
    .home-h1{
        font-family: 'Liu Jian Mao Cao', cursive;
        text-align: center;
        font-size: 50px;
    }
}
@media (max-width: 600px){
    .home-h1{
        font-family: 'Liu Jian Mao Cao', cursive;
        text-align: center;
        font-size: 40px;
    }
}
@media (max-width: 500px){
    .home-h1{
        font-family: 'Liu Jian Mao Cao', cursive;
        text-align: center;
        font-size: 30px;
    }
}
@media (max-width: 400px){
    .home-h1{
        font-family: 'Liu Jian Mao Cao', cursive;
        text-align: center;
        font-size: 25px;
    }
}
@media (max-width: 100px){
    .home-h1{
        font-family: 'Liu Jian Mao Cao', cursive;
        text-align: center;
        font-size: 20px;
    }
}
@media (max-width: 4000px){
    .home-h3{
        font-family: 'Liu Jian Mao Cao', cursive;
        text-align: center;
        font-size: 35;
    }
}
@media (max-width: 600px){
    .home-h3{
        font-family: 'Liu Jian Mao Cao', cursive;
        text-align: center;
        font-size: 25px;
    }
}
@media (max-width: 500px){
    .home-h3{
        font-family: 'Liu Jian Mao Cao', cursive;
        text-align: center;
        font-size: 20px;
    }
}
@media (max-width: 400px){
    .home-h3{
        font-family: 'Liu Jian Mao Cao', cursive;
        text-align: center;
        font-size: 15px;
    }
}
@media (max-width: 100px){
    .home-h3{
        font-family: 'Liu Jian Mao Cao', cursive;
        text-align: center;
        font-size: 10px;
    }
}
.home-content{
    /*border-style: solid;*/
    /*border-color: blue;*/
    padding: 25px;
}
 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-width: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: gray;
}

 
 .list{
     border-style: solid;
     border-color: gray;
     font-family: 'Liu Jian Mao Cao', cursive;
     text-align: center;
     border-width: 10px;
     border-radius: 5px;
 }
 
 @media (min-width: 400px){
    h4{
        font-family: 'Liu Jian Mao Cao', cursive;
        text-align: center;
        font-size: 50px;
    }
}
 @media (max-width: 399px){
    h4{
        font-family: 'Liu Jian Mao Cao', cursive;
        text-align: center;
        font-size: 25px;
    }
}
@media (min-width: 400px){
    h6{
        font-family: 'Liu Jian Mao Cao', cursive;
        text-align: center;
        font-size: 20px;
    }
}
 @media (max-width: 399px){
    h6{
        font-family: 'Liu Jian Mao Cao', cursive;
        text-align: center;
        font-size: 15px;
    }
}
.info-col{
    /*border-style: solid;*/
    /*border-color: gray;*/
    /*border-width: 5px;*/
    /*padding: 15px;*/
    
    padding: 25px 15px 15px 15px;
}

.gallery-col{
    padding-top: 10px;
    padding-bottom: 10px;
}